body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    height:100vh;
    width:100vw;
    display: flex;
    overflow-x:hidden;
}

header {
    background-color: #908DFF;
    width: 25%;
    height: 100%;
    position: fixed;
    text-align: center;
}

header img {
    height: 152px;
    width: 152px;
    border: 5px solid black;
    border-radius: 50%;
}
aside {
    width: 25%;
    height:100%;
}

.page {
    float:right;
    width: 75%;
}