:root {
    --mainSiteBorder: rgb(96, 96, 224);
    --sidebarColor: #908DFF;
    --pinkTextColor: #CEBAC8;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;


}

.page{
    padding-left: 25%;
}
.page > section {
    padding-top: 20px;
    height: 100vh;
    margin-right: 10px;
    margin-left: 10px;
}
.page #portfolio {
    height: 200vh;
}
header {
    background-color: var(--sidebarColor);
    z-index: 1;
    width: 25%;
    height: 100%;
    position: fixed;
    text-align: center;
    color: white;
}

a:link, a:visited, a:active, a {
    text-decoration: none;
}

header a, .social-media {
    color: var(--pinkTextColor);
}
header a:hover, header a:active {
    color: white;
    /* font-size: 1.1em; Needs to be fixed; see readme improvements*/ 
}

header .profile {
    position: absolute;
    left: 12%;
    top: 5%;
}

header img {
    height: 152px;
    width: 152px;
    border-radius: 50%;
    margin-bottom: 5px;
}
header h1 {
    margin: 10px;
    font-size: 1.8em;
    font-weight: bold;
}

header nav {
    position: absolute;
    text-align: center;
    left: 25%;
    top: 35%;
}
.fa-bars {
    font-size: 3em;
}
.mobile-nav {
    visibility: hidden;
}

header nav li {
    margin: 20px 0px 20px 0px;
    padding: 10px;
    font-size: 1.4em;
}

header .social-media {
    font-size: 20px;
    position: absolute;
    bottom: 0;
    margin: 10% 20% 10% 15%;
    width: 70px;
    white-space: nowrap;
}

header .social-media p {
    position: absolute;
    bottom: 50px;
    left: 40px;
}

header .social-media .fa {
    margin: 10px;
    margin-top: 15px;
    font-size: 1.1em;
}

.page {
    display: flex;
    flex-direction: column;
}

.page h2 {
    font-size: 36px;
    padding-bottom: 10px;
    padding-left: 5px;
}

.page p {
    font-size: 18px;
}

.introduction {
    position: absolute;
    top: 40%;
    left: 30%;
    display: inline-block;
}
.introduction a, .introduction div {
    position: relative;
    display: inline-block;
    color: #000000;
}
.introduction a {
    margin-top: 20px;
    font-size: 1.2em;
}

.introduction a:hover {
    background-color: pink;
}

.introduction p {
    border: 2px solid black;
    padding: 5px;
    display: inline-block;
}

#portfolio .flex {
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.portfolio-header {
    padding-bottom: 5px;
    margin-bottom: 5px;
    padding-left: 5px;
}
/* .flex article {  REMEMBER TO DELETE THIS ONCE the articles are changed to anchors 
    margin: 5px;
    flex-grow: 1;
    flex-basis: 40%;
} */
.flex a {
    margin: 5px;
    flex-grow: 1;
    flex-basis: 40%;
}
.flex #refactor-project {
    flex-grow: 2;
    flex-basis: 80%;
}

.flex a:hover {
    position:relative;
    animation-duration: .2s;
    animation-name: uplift;
    animation-fill-mode: forwards;
}

@keyframes uplift {
    from {
        right: 0px;
        bottom: 0px;
    }
    to {
        right: 5px;
        bottom:5px;
    }
}

.flex a img{
    width:100%;
    height: auto;
    border:5px solid var(--mainSiteBorder);
    border-radius: 2%;
}
#non-featured{
    width:90%;
    height: auto;
    border:5px solid var(--mainSiteBorder);
    border-radius: 2%;
}
.project-container {
    position: absolute;
    margin-top: 100px;
    padding: 10px;
    background-color: var(--mainSiteBorder);
    width: 30%;
    color: white;
}
.project-container h3{
    font-size: 24px;
    padding-bottom: 10px;
}

@media only screen and (max-width: 768px){
    body{
        flex-direction: column;
    }
    
    header{
        width: 100%;
        height: 20%;
        min-height: 120px;
        display:flex;
    }
    header #navLinks {
        display: none;
    }
    .page{
        padding-left: 0;
        padding-top: 20%;
    }
    .page > section {
        padding-top: max(22%, 140px);
    }
    header .profile {
        top: 10%;
        left: 30%;
    }
    header h1, header .profile p{
        visibility: hidden;
        
    }
    .mobile-nav {
        position: fixed;
        visibility: visible;
        right: 40px;
        top: 40px;
    }

    header li {
        background-color: var(--sidebarColor);
        padding-top: 0;
        padding-left: 50px;
        padding-right: 50px;
    }
    header img {
        height: 100px;
        width: 100px;
        border-radius: 50%;
        margin-bottom: 5px;
    }

    header nav {
        background-color: var(--sidebarColor);;
        position: absolute;
        right: 0px;
        left: 0px;
        text-align: right;
        top:120px;
        width: 100%;
    }
    header ul {
        background-color: var(--sidebarColor);
    }
    header .social-media {
        top: 35px;
        left: 10px;
        position: absolute;
        font-size: 1.5em;
        margin: 0;

    }
    header .social-media p {
        font-size: 0;
    }
    .introduction {
        top: 40%;
        left: 20%;
    }
    .project-container p{
        display: none;
    }
    .project-container{
        margin-top: 40px;
    }
}
@media only screen and (max-width: 400px){
    header .profile {
        visibility: hidden;
    }
    .project-container h3 {
        font-size: 16px;
    }
    .project-container{
        margin-top: 20px;
    }
}